.row.equal {
  display: flex;
  flex-wrap: wrap;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.profile {
  font-size: 20px;
}

body {
	display: none;
}