html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form .form-floating:focus-within {
  z-index: 2;
}

form input {
  margin-bottom: 2px;
}

#forgot-password {
  margin-bottom: 5px;
  color: rgb(97, 97, 224);
}

.signup #forgot-password {
  display: none;
}

div .passwordConfirmation {
  display: none;
}

.invalid {
  color: rgb(153, 0, 0);
}

.valid {
  color: rgb(0, 172, 14);
}

select#position {
  display: none;
}