.profile-picture {
    height: 5rem;
    width: 5rem;
}

.worker {
    height: 5rem; 
    padding-left:0;
}

body {
    background-color: #eee;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.row {
	margin-right: 0;
}